.main {
  margin-top: 36px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Impact", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
  letter-spacing: 0em;
  position: relative;
}

.meme-img {
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}

.top-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 130px;
}

.bottom-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  bottom: 15px;
}
