.meme-contain {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Impact", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
  letter-spacing: 0em;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.meme-img {
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}

.top-text {
  position: absolute;
  top: 15px;
}

.bottom-text {
  position: absolute;
  bottom: 15px;
}
